# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

sudo: required

language: python

env:
  - TOXENV=py27
  - TOXENV=pypy

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - sudo bash provisioning.sh

# command to run tests, e.g. python setup.py test
script: tox
