# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

sudo: required

language: python

env:
  - TOXENV=py27
  - TOXENV=pypy

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -U tox
  - sudo apt-get install prosody -y
  - sudo cp prosody.cfg.lua /etc/prosody/prosody.cfg.lua
  - sudo /etc/init.d/prosody restart
  - sudo prosodyctl register developer ncaplite.loc mypassword
  - sudo prosodyctl register ncap      ncaplite.loc mypassword
  - sudo prosodyctl register unittest  ncaplite.loc mypassword

# command to run tests, e.g. python setup.py test
script: tox
